{% extends 'accounts/base_auth.html' %}
{% load static %}

{% block content %}
<div class="login-wrap mt-5">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="images/icon/logo.png" alt="Architect">
                            </a>
                        </div>
                        <div class="login-form">
                            <form action="./login.html" method="post">
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <input class="au-input au-input--full" type="email" name="email" placeholder="Email">
                                </div>
                                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">submit</button>
                            </form>
                        </div>
                    </div>
                </div>
{% endblock content %}