{% extends 'base.html' %}
{% load static %}

{% block content %}

		<!-- banner -->
		<section class="inner-banner">
			<div class="banner-layer">
				<h1 class="text-center">About Page</h1>
			</div>
		</section>
		<!-- //banner -->

		<!-- about -->
		<section class="about py-5">
			<div class="container py-md-3 agile-info">
				<h2 class="heading mb-md-5 mb-4">About Us</h2>
				<div class="row about-grids agile-info">
					<div class="col-lg-6 w3-agile-grid mb-lg-0 mb-5">
						<p>
							The Centre for Self Employment and Management Development (CSMD)
							Company is an indigenous business start up and management
							development trainer, consultant, vocational and entrepreneurship
							skills provider for all categories of employees and potential
							entrepreneurs including unemployed individuals in the society. She
							also caters for the needs of old workers (both the current and
							intending retirees).
						</p>
						<p class="mt-2 mb-3">
							Established in 2004, the organisation has trained well over 200
							entrepreneurs including government officials in new business start
							ups, capacity building and entrepreneurial development.
							Additionally, similar number of business plans have been procuced
							for participants that have resulted in the establishment of
							enduring enterprises in Edo State.
						</p>
						<!-- <a href="about.html">Read More </a> -->
					</div>
					<div class="col-lg-3 w3-agile-grid col-md-4 pr-md-0">
						<h3 class="margin">Affordability of services</h3>
						<h3 class="black">Quality service delivery</h3>
					</div>
					<div class="col-lg-3 w3-agile-grid col-md-4 mt-md-0 mt-4">
						<h3 class="margin green">No assumptions of prior knowledge</h3>
						<h3 class="grey">9 hours service daily exluding Sundays.</h3>
					</div>
				</div>
			</div>
		</section>
		<!-- //about -->

		<section class="about py-5">
			<div class="container py-md-3 agile-info">
				<h2 class="heading mb-md-5 mb-4">Purpose of the CSMD</h2>
				<div class="row about-grids agile-info">
					<div class="col-lg-12 w3-agile-grid mb-lg-0 mb-5">
						<p>
							The Centre for Self Employment and Management Development (CSMD)
							Company is an indigenous business start up and management
							development trainer, consultant, vocational and entrepreneurship
							skills provider for all categories of employees and potential
							entrepreneurs including unemployed individuals in the society. She
							also caters for the needs of old workers (both the current and
							intending retirees).
						</p>
						<p class="mt-2 mb-3">
							Established in 2004, the organisation has trained well over 200
							entrepreneurs including government officials in new business start
							ups, capacity building and entrepreneurial development.
							Additionally, similar number of business plans have been procuced
							for participants that have resulted in the establishment of
							enduring enterprises in Edo State.
						</p>
					</div>
				</div>
			</div>
		</section>
		<!-- //mission statement -->

		<section class="about py-5">
			<div class="container py-md-3 agile-info">
				<h2 class="heading mb-md-5 mb-4">Objectives of the Company</h2>
				<div class="row about-grids agile-info">
					<div class="col-lg-12 w3-agile-grid mb-lg-0 mb-5">
						<p>
							The Centre for Self Employment and Management Development (CSMD)
							Company is an indigenous business start up and management
							development trainer, consultant, vocational and entrepreneurship
							skills provider for all categories of employees and potential
							entrepreneurs including unemployed individuals in the society. She
							also caters for the needs of old workers (both the current and
							intending retirees).
						</p>
						<p class="mt-2 mb-3">
							Established in 2004, the organisation has trained well over 200
							entrepreneurs including government officials in new business start
							ups, capacity building and entrepreneurial development.
							Additionally, similar number of business plans have been procuced
							for participants that have resulted in the establishment of
							enduring enterprises in Edo State.
						</p>
					</div>
				</div>
			</div>
		</section>
		<!-- //mission statement -->

		<section class="about py-5">
			<div class="container py-md-3 agile-info">
				<h2 class="heading mb-md-5 mb-4">The Mission</h2>
				<div class="row about-grids agile-info">
					<div class="col-lg-12 w3-agile-grid mb-lg-0 mb-5">
						<p>
							The Centre for Self Employment and Management Development (CSMD)
							Company is an indigenous business start up and management
							development trainer, consultant, vocational and entrepreneurship
							skills provider for all categories of employees and potential
							entrepreneurs including unemployed individuals in the society. She
							also caters for the needs of old workers (both the current and
							intending retirees).
						</p>
						<p class="mt-2 mb-3">
							Established in 2004, the organisation has trained well over 200
							entrepreneurs including government officials in new business start
							ups, capacity building and entrepreneurial development.
							Additionally, similar number of business plans have been procuced
							for participants that have resulted in the establishment of
							enduring enterprises in Edo State.
						</p>
					</div>
				</div>
			</div>
		</section>
		<!-- //the mission -->

		<!-- team -->
		<section class="team py-5">
			<div class="container py-md-3">
				<h3 class="heading mb-lg-5 mb-4">Our Professionals</h3>
				<div class="row team-grids">
					<div class="col-md-3 col-sm-6 mb-md-0 mb-4 team-grid w3-agile-grid">
						<div class="team-members">
							<div class="team-avatar">
								<img src="images/t1.jpg" class="img-fluid" alt="image" />
							</div>
							<div class="team-desc agile-info">
								<h4>John Doe</h4>
								<span>Director</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 mb-md-0 mb-4 team-grid w3-agile-grid">
						<div class="team-members">
							<div class="team-avatar">
								<img src="images/t2.jpg" class="img-fluid" alt="image" />
							</div>
							<div class="team-desc agile-info">
								<h4>Melisa Doe</h4>
								<span>Director</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 mb-sm-0 mb-4 team-grid w3-agile-grid">
						<div class="team-members">
							<div class="team-avatar">
								<img src="images/t3.jpg" class="img-fluid" alt="image" />
							</div>
							<div class="team-desc agile-info">
								<h4>Alex Atkinson</h4>
								<span>Director</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 team-grid w3-agile-grid">
						<div class="team-members">
							<div class="team-avatar">
								<img src="images/t4.jpg" class="img-fluid" alt="image" />
							</div>
							<div class="team-desc agile-info">
								<h4>Thompson</h4>
								<span>Director</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 mt-4 team-grid w3-agile-grid">
						<div class="team-members">
							<div class="team-avatar">
								<img src="images/t5.jpg" class="img-fluid" alt="image" />
							</div>
							<div class="team-desc agile-info">
								<h4>John Doe</h4>
								<span>Director</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 mt-4 team-grid w3-agile-grid">
						<div class="team-members">
							<div class="team-avatar">
								<img src="images/t6.jpg" class="img-fluid" alt="image" />
							</div>
							<div class="team-desc agile-info">
								<h4>Melisa Doe</h4>
								<span>Director</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 mt-4 team-grid w3-agile-grid">
						<div class="team-members">
							<div class="team-avatar">
								<img src="images/t7.jpg" class="img-fluid" alt="image" />
							</div>
							<div class="team-desc agile-info">
								<h4>Alex Atkinson</h4>
								<span>Director</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 mt-4 team-grid w3-agile-grid">
						<div class="team-members">
							<div class="team-avatar">
								<img src="images/t8.jpg" class="img-fluid" alt="image" />
							</div>
							<div class="team-desc agile-info">
								<h4>Thompson</h4>
								<span>Director</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- //team -->
{% endblock content %}