

{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="inner-banner">
	<div class="banner-layer">
		<h1 class="text-center">Blog Page</h1>
	</div>
</section>
<!-- //banner -->

<!-- blog -->
<section class="blog blog-page">
	<div class="workd w3-agile py-5">
		<div class="container py-md-3">
			<h2 class="heading mb-lg-5 mb-4">Our Blog</h2>
			<div class="row blog-grids">
				{% for post in posts %}
				<div class="col-lg-6 w3-agile-grid">
					<div class="row blog-grid1 mr-lg-1">
						<div class="col-lg-5 col-md-4 col-sm-5 pl-0">
							{% if post.image %}
							<img src="{{ post.image.url }}" class="img-fluid" alt="">
							{% else %}
							<img src="{% static 'images/t1.jpg' %}" class="img-fluid" alt="">
							{% endif %}
						</div>
						<div class="col-lg-7 col-md-8 agile-info col-sm-7 blog-text">
							<p class="mt-2">{{ post.date }}</p>
							<h4>{{ post.title }}</h4>
							<p>{{ post.snippet }}</p>
							<a href="{% url 'blog_detail' post.url %}" class="blog">Read More <span class="fas ml-1 fa-angle-double-right"></span> </a>
						</div>
					</div>
					<br>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
<!-- //blog -->
{% endblock %}