

{% extends 'base.html' %}
<!-- banner -->
{% block content %}

<section class="inner-banner">
	<div class="banner-layer">
		<h1 class="text-center">Blog Page</h1>
	</div>
</section>
<!-- //banner -->

<!-- blog -->
<section class="blog blog-page">
	<div class="workd w3-agile py-5">
		<div class="container py-md-3">
			<h2 class="heading mb-lg-5 mb-4">Our Blog</h2>
			<div class="row blog-grids">
				<div class="col-lg-6 w3-agile-grid">
					<div class="row blog-grid1 mr-lg-1">
						<div class="col-lg-5 col-md-4 col-sm-5 pl-0">
							<img src="images/t1.jpg" class="img-fluid" alt="">
						</div>
						<div class="col-lg-7 col-md-8 agile-info col-sm-7 blog-text">
							<p class="mt-2">june 15 2018</p>
							<h4>Capital Management</h4>
							<p>Cras blandit nibh ut pretium amet in elementum. Duis bibendum convallis nun ca dictum. Quisquen ac ipsum</p>
							<a href="single.html" class="blog">Read More <span class="fas ml-1 fa-angle-double-right"></span> </a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 w3-agile-grid mt-lg-0 mt-5">
					<div class="row blog-grid2 ml-lg-1">
						<div class="col-lg-5 col-md-4 col-sm-5 pl-0">
							<img src="images/t2.jpg" class="img-fluid" alt="">
						</div>
						<div class="col-lg-7 col-md-8 agile-info col-sm-7 blog-text">
							<p class="mt-2">june 15 2018</p>
							<h4>Creative Solutions</h4>
							<p>Cras blandit nibh ut pretium amet in elementum. Duis bibendum convallis nun ca dictum. Quisquen ac ipsum</p>
							<a href="single.html" class="blog">Read More <span class="fas ml-1 fa-angle-double-right"></span> </a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 w3-agile-grid mt-5">
					<div class="row blog-grid1 mr-lg-1">
						<div class="col-lg-7 col-md-8 agile-info col-sm-7 blog-text">
							<p class="mt-2">june 15 2018</p>
							<h4>Capital Management</h4>
							<p>Cras blandit nibh ut pretium amet in elementum. Duis bibendum convallis nun ca dictum. Quisquen ac ipsum</p>
							<a href="single.html" class="blog">Read More <span class="fas ml-1 fa-angle-double-right"></span> </a>
						</div>
						<div class="col-lg-5 col-md-4 col-sm-5 pr-0">
							<img src="images/t3.jpg" class="img-fluid" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-6 w3-agile-grid mt-5">
					<div class="row blog-grid2 ml-lg-1">
						<div class="col-lg-7 col-md-8 col-sm-7 agile-info blog-text">
							<p class="mt-2">june 15 2018</p>
							<h4>Creative Solutions</h4>
							<p>Cras blandit nibh ut pretium amet in elementum. Duis bibendum convallis nun ca dictum. Quisquen ac ipsum</p>
							<a href="single.html" class="blog">Read More <span class="fas ml-1 fa-angle-double-right"></span> </a>
						</div>
						<div class="col-lg-5 col-md-4 col-sm-5 pr-0">
							<img src="images/t4.jpg" class="img-fluid" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-6 w3-agile-grid mt-5">
					<div class="row blog-grid1 mr-lg-1">
						<div class="col-lg-5 col-md-4 col-sm-5 pl-0">
							<img src="images/t5.jpg" class="img-fluid" alt="">
						</div>
						<div class="col-lg-7 col-md-8 col-sm-7 agile-info blog-text">
							<p class="mt-2">june 15 2018</p>
							<h4>Capital Management</h4>
							<p>Cras blandit nibh ut pretium amet in elementum. Duis bibendum convallis nun ca dictum. Quisquen ac ipsum</p>
							<a href="single.html" class="blog">Read More <span class="fas ml-1 fa-angle-double-right"></span> </a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 w3-agile-grid mt-5">
					<div class="row blog-grid2 ml-lg-1">
						<div class="col-lg-5 col-md-4 col-sm-5 pl-0">
							<img src="images/t6.jpg" class="img-fluid" alt="">
						</div>
						<div class="col-lg-7 col-md-8 col-sm-7 agile-info blog-text">
							<p class="mt-2">june 15 2018</p>
							<h4>Creative Solutions</h4>
							<p>Cras blandit nibh ut pretium amet in elementum. Duis bibendum convallis nun ca dictum. Quisquen ac ipsum</p>
							<a href="single.html" class="blog">Read More <span class="fas ml-1 fa-angle-double-right"></span> </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //blog -->

<!-- footer -->	
<footer>
	<div class="container-fluid p-5">
		<div class="row footer-gap">
			<div class="col-lg-5 mb-lg-0 mb-4">
				<h3 class="text-capitalize mb-3">About Company</h3>
				<p>Cras blandit nibh ut pretium elementum. Duis bibendum convallis nunc a dictum. Quisque ac ipsum porta, ultrices metus sit amet,
				cursus nisl. Duis aliquet varius sem sit amet tempus. Curabitur vitae dui bibendum. </p>
				<div class="row mt-4">
					<div class="col-md-6">
						<h3 class="text-capitalize mb-3">Connect With Us</h3>
						<p><span class="fab fa-twitter"></span> twitter/@my_website</p>
						<p><span class="fab fa-instagram"></span> instagram/@my_website</p>
						<p><span class="fab fa-youtube mb-4"></span> youtube/@my_website</p>
						<a href="#" class="facebook mr-2"><span class="fab mr-1 fa-facebook-f"></span> Facebook</a>
						<a href="#" class="twitter"><span class="fab mr-1 fa-twitter"></span> Twitter</a>
					</div>
					<div class="col-md-6 mt-md-0 mt-5">
						<h3 class="text-capitalize mb-3">Head Quarters</h3>
						<address class="mb-0">
							<p class="mb-2"><i class="fas fa-map-marker"></i> 2466H 5th Street Parking, King <br>Block, New York City.</p>
							<p><i class="fas mr-1 fa-clock"></i> Timings : 10 a.m to 6 p.m</p>
							<p><i class="fas mr-1 fa-phone"></i> +12 445 8976 2334</p>
							<p><i class="fas mr-1 fa-fax"></i> +11 887 8976 2334 </p>
							<p><i class="fas mr-1 fa-envelope-open"></i> <a href="mailto:info@example.com">info@example.com</a></p>
						</address>
					</div>
				</div>
			</div>
			<div class="col-lg-3 agile-info col-md-6 mt-lg-0 w3-agile-grid mt-sm-0 p-md-0">
				<h3 class="text-capitalize mb-3">Services</h3>
				<ul>
					<li><i class="fas mr-1 fa-chevron-circle-right"></i> Blandit nibh ut pretium elementum.</li>
					<li><i class="fas mr-1 fa-chevron-circle-right"></i> Convallis nunc a dictum ipsum.</li>
					<li><i class="fas mr-1 fa-chevron-circle-right"></i> Ultrices metus sit amet, cursus.</li>
				</ul>
				<h3 class="text-capitalize mt-4 mb-3">Newsletter</h3>
				<p class="mb-3">Subscribe to Our Newsletter to get News, Amazing Offers &amp; More</p>
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Enter your email..." required="">
					<button class="btn1"><i class="far fa-paper-plane"></i></button>
					<div class="clearfix"> </div>
				</form>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-md-0 mt-4 p-md-0 agile-info">
				<h3 class="text-capitalize mb-3">Latest Posts</h3>
				<div class="blog-grids row mb-3">
					<div class="col-md-4 col-sm-3 col-4 pr-sm-3 pr-0 blog-grid-left">
						<a href="single.html">
							<img src="images/f1.jpg" class="img-fluid" alt="">
						</a>
					</div>
					<div class="col-md-8 col-sm-9 col-8 blog-grid-right">
						<h5>
							<a href="single.html">Pellentesque dui, non felis. Maecenas male non felis convallis nunc </a>
						</h5>
						<div class="sub-meta">
							<span>
								<i class="far fa-clock"></i> 12 June, 2018</span>
						</div>
					</div>
				</div>
				<div class="blog-grids row mb-3">
					<div class="col-md-4 col-sm-3 col-4 pr-sm-3 pr-0 agile-info blog-grid-left">
						<a href="single.html">
							<img src="images/f2.jpg" class="img-fluid" alt="">
						</a>
					</div>
					<div class="col-md-8 col-sm-9 col-8 blog-grid-right">
						<h5>
							<a href="single.html">Pellentesque dui, non felis. Maecenas male non felis convallis nunc </a>
						</h5>
						<div class="sub-meta">
							<span>
								<i class="far fa-clock"></i> 12 June, 2018</span>
						</div>
					</div>
				</div>
				<div class="blog-grids row agile-info">
					<div class="col-md-4 col-sm-3 col-4 pr-sm-3 pr-0 blog-grid-left">
						<a href="single.html">
							<img src="images/f3.jpg" class="img-fluid" alt="">
						</a>
					</div>
					<div class="col-md-8 col-sm-9 col-8 blog-grid-right">
						<h5>
							<a href="single.html">Pellentesque dui, non felis. Maecenas male non felis convallis nunc </a>
						</h5>
						<div class="sub-meta">
							<span>
								<i class="far fa-clock"></i> 13 June, 2018</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright pb-sm-5 pb-4 text-center">
		<p>© 2018 Grade. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a></p>
	</div>
</footer>
<!-- footer -->

{% endblock %}