<!-- footer -->	
<footer>
	<div class="container-fluid p-5">
		<div class="row footer-gap">
			<div class="col-lg-8 mb-lg-0 mb-4">
				{% comment %} <h3 class="text-capitalize mb-3">About Company</h3>
				<p>{{ about }}</p> {% endcomment %}
				<div class="row mt-4">
					<div class="col-md-6">
						<h3 class="text-capitalize mb-3">Connect With Us</h3>
						<p><span class="fab fa-twitter"></span> twitter/@my_website</p>
						<p><span class="fab fa-instagram"></span> instagram/@my_website</p>
						<p><span class="fab fa-youtube mb-4"></span> youtube/@my_website</p>
						<a href="#" class="facebook mr-2"><span class="fab mr-1 fa-facebook-f"></span> Facebook</a>
						<a href="#" class="twitter"><span class="fab mr-1 fa-twitter"></span> Twitter</a>
					</div>
					<div class="col-md-6 mt-md-0 mt-5">
						<h3 class="text-capitalize mb-3">Head Quarters</h3>
						<address class="mb-0">
							<p class="mb-2"><i class="fas fa-map-marker"></i> 2466H 5th Street Parking, King <br>Block, New York City.</p>
							<p><i class="fas mr-1 fa-clock"></i> Timings : 10 a.m to 6 p.m</p>
							<a href="tel:+234 803 393 3187"><p><i class="fas mr-1 fa-phone"></i>+234 803 393 3187</p></a>
							<p><i class="fas mr-1 fa-fax"></i> +11 887 8976 2334 </p>
							<p><i class="fas mr-1 fa-envelope-open"></i> <a href="mailto:info@example.com">info@example.com</a></p>
						</address>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mt-lg-0 mt-sm-0 p-md-0">
				<h3 class="text-capitalize mt-4 mb-3">Newsletter</h3>
				<p class="mb-3">Subscribe to Our Newsletter to get News, Amazing Offers &amp; More</p>
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Enter your email..." required="">
					<button class="btn1"><i class="far fa-paper-plane"></i></button>
					<div class="clearfix"> </div>
				</form>
			</div>
		</div>
	</div>
	<div class="copyright pb-sm-5 pb-4 text-center">
		<p>© 2021 CSMD. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3</a></p>
	</div>
</footer>
<!-- footer -->